

@media (max-width: 1100px) {
	.header-sub, .prices-items,.title-wrapper
	{
		flex-wrap: wrap;
	}
	.header-contacts-items {

		display: none;
	}
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: inherit;
    }
    .menu-items {
        display: none;
    }    
    .menu-items.open {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        display: flex;
        overflow: hidden;
        border-top: 1px solid rgb(173, 167, 167);
    }
    .menu-items li {
        margin: 0 auto;
        font-weight: 400;
        font-size: 20px;
        line-height: 118.1%;
        width: 100%;
        text-align: center;
    }
    .menu-items li a {
        padding: 10px;
        width: 100%;
        display: block; 
        border-bottom: 1px solid rgb(231, 228, 228);
    }
    .menu-items li:hover a {
        color: var(--main-colors-dark);
    }
    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
    }
    .menu-items li a:after {
        display: none; 
    }
    .menu-items  li a:hover:after,
    .menu-items  li a:focus:after {
        width: 0%;
    }
    .logo {
        max-width: 130px;
        height: 50px;
    }

}

@media (max-width: 768px) {
   	.history {
		gap: 2px ;
		margin: 20px 0 40px 0 ;
		flex-wrap: wrap;
	}
	.title {
		font-size: 19px;
	}
	h4 {
		font-size: 14px;
	}
	.title-small {
		font-size: 14px;
	}
	.footer-items {
		flex-wrap: wrap;
		gap: 0px;
		padding: 0px;
	}
	.footer-item__feedback {
		display: none;
	}
	.footer-item {
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
	}
	.footer-item > a {
		font-size: 12px;
	}
	.footer-item__contact {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer-item__contact-phone {
		font-size: 14px;
		margin-right: 250px;
	}
	.footer-item__contact-messanger {
		margin-left: 0px;
		margin-top: 16px;
	}
	.footer-item__contacts-text, 
	.header-sub__description,
	.text {
		font-size: 12px;
	}
	.big-logo {
		max-width: 300px;
	}
	.big-logo img {
		width: 54px;
		height: 54px;
	}
	.large-banner {
		margin-top: 24px;
		height: 159px;
	}
	.large-banner img {
		height: 100%;
		object-fit: cover;
	}
	.gallery-item {
		display: block;
	}
	.primary-btn {
		padding: 15px 30px;
	}
	.gallery-items {
		display: inline-flex;
		align-items: flex-start;
		margin-top: 10px;
		gap: 10px;
	}
	.fish-cards-items {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}
	#container-chart svg {
		width: calc(1304px - 100%);
	}
	.fish-cards-data__week {
    font-size: 12px;
    text-transform: inherit;
}
	.fish-cards-data__day,
	span.weight-num {
		font-size: 13px;
	}
	.fish-cards-chart__tag {
		display: none;
	}
	span.weight-str, 
	.fish-cards-stocked p {
		font-size: 12px;
	}
	.rules-item {
		width: 100%;
	}
	.rules-item img {
		width: 100%;
		display: none;
	}

	.rules-items {
		display: block;
	}
	.sales-items,
	.news-items {
		gap: 15px;
		overflow-x: auto;
		overflow-y: hidden;
		scroll-snap-type: y mandatory;
		flex-wrap: nowrap;
	}
	.prices-item:last-child {
		max-width: 100%;
	}
	.news-title {
		font-size: 20px;
	}
	.events-items {
		gap: 0px;
	}
	.fish-cost-item__price {

    font-size: 16px;
    text-align: center;

}
.fish-cost-item__name {
    font-size: 12px;
    max-width: 100%;
}

.fish-cost-item {
    grid-template-columns: 140px 150px 90px;
    grid-template-rows: 85px;
}

.fish-cost-item img {
    max-width: 100%;
}

ul.rules-list-items {
    padding: 20px;
    /* margin: 10px; */
}

.rules-list__item {
    font-size: 13px;
    margin-bottom: 16px;
}
.sales-item {
    width: 100%;
    padding-bottom: 20px;
}

.calendary-fish-items {

    overflow-x: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
}
}
