@media (max-width: 1100px) {
	.header-sub, .prices-items,.title-wrapper
	{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.header-contacts-items {
		display: none;
	}
	div#app {
		overflow-x: scroll;
		-ms-scroll-snap-type: y mandatory;
		    scroll-snap-type: y mandatory;
		overflow-y: hidden;
	}
}
@media (max-width: 768px) {
    nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: inherit;
            -ms-flex-align: inherit;
                align-items: inherit;
    }
    .menu-items {
        display: none;
    }    
    .menu-items.open {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        border-top: 1px solid rgb(173, 167, 167);
    }
    .menu-items li {
        margin: 0 auto;
        font-weight: 400;
        font-size: 20px;
        line-height: 118.1%;
        width: 100%;
        text-align: center;
    }
    .menu-items li a {
        padding: 10px;
        width: 100%;
        display: block; 
        border-bottom: 1px solid rgb(231, 228, 228);
    }
    .menu-items li:hover a {
        color: var(--main-colors-dark);
    }
    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
    }
    .menu-items li a:after {
        display: none; 
    }
    .menu-items  li a:hover:after,
    .menu-items  li a:focus:after {
        width: 0%;
    }
    .logo {
        max-width: 130px;
        height: 50px;
    }

}

@media (max-width: 768px) {
   	.history {
		gap: 2px ;
		margin: 20px 0 40px 0 ;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.title {
		font-size: 19px;
	}
	h4 {
		font-size: 14px;
	}
	.title-small {
		font-size: 14px;
	}
	.footer-items {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		gap: 0px;
		padding: 0px;
	}
	.footer-item__feedback {
		display: none;
	}
	.footer-item {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		gap: 10px;
	}
	.footer-item > a {
		font-size: 12px;
	}
	.footer-item__contact {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.footer-item__contact-phone {
		font-size: 14px;
		margin-right: 250px;
	}
	.footer-item__contact-messanger {
		margin-left: 0px;
		margin-top: 16px;
	}
	.footer-item__contacts-text, 
	.header-sub__description,
	.text {
		font-size: 12px;
	}
	.big-logo {
		max-width: 300px;
	}
	.big-logo img {
		width: 54px;
		height: 54px;
	}
	.large-banner {
		margin: 24px 0 25px 0;
		height: 100%;
	}
	.large-banner img {
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
	}
	.gallery-item {
		display: block;
	}
	.primary-btn {
		padding: 15px 30px;
	}
	.gallery-items {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		margin-top: 10px;
		gap: 10px;
	}
	.gallery-items,
	.calendary-fish-items,
	.rules-items,
	.sales-items, 
	.prices-items {
		margin: 40px 0 40px 0px;
	}
	.fish-cards-items {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}
	.rules-item {
		width: 100%;
	}
	.rules-item img {
		width: 100%;
		display: none;
	}

	.rules-items {
		display: block;
	}
	.sales-items,
	.news-items {
		gap: 15px;
		overflow-x: auto;
		overflow-y: hidden;
		-ms-scroll-snap-type: y mandatory;
		    scroll-snap-type: y mandatory;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
	}
	.prices-item:last-child {
		max-width: 100%;
	}
	.news-title {
		font-size: 20px;
	}
	.events-items {
		gap: 0px;
	}
	.fish-cost-item__price {
		font-size: 16px;
		text-align: center;
	}
	.fish-cost-item__name {
		font-size: 12px;
		max-width: 100%;
	}
	.fish-cost-item {
		-ms-grid-columns: 140px 1fr 1fr;
		grid-template-columns: 140px 1fr 1fr;
		-ms-grid-rows: 85px;
		grid-template-rows: 85px;
	}
	.fish-cost-item > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.fish-cost-item > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.fish-cost-item > *:nth-child(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.fish-cost-item img {
		max-width: 100%;
	}

	ul.rules-list-items {
		padding: 20px;
	    /* margin: 10px; */
	}

	.rules-list__item {
		font-size: 13px;
		margin-bottom: 16px;
	}
	.sales-item {
		width: 100%;
		padding-bottom: 20px;
	}

	.calendary-fish-items {
		overflow-x: scroll;
		-ms-scroll-snap-type: y mandatory;
		    scroll-snap-type: y mandatory;
		overflow-y: hidden;
	}
	.fish-cards-items {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (180px)[7];
		grid-template-columns: repeat(7, 180px);
	}
	.gallery-item {
		overflow: hidden;
	}

	.gallery-item .primary-btn {
		padding: 15px 30px;
		height: 240px;
	}
	.event-modal-body__img img {
		width: 100%;
	}
	.event-modal-body {
		flex-wrap: wrap;
	}
}
