
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:root {
	--main-colors-dark: #264156;
    --main-colors-accent: #136E88;
    --main-colors-white: #FFF;
    --primary: #18a837;
    --green-light: #2EECC5;
    --main-colors-light-text: #687A89;
    --sub-colors-table-background: #F3F7F9;
}

body {
    background: var(--main-colors-white);
    font-family: 'Montserrat', sans-serif;
    color: var(--main-colors-light-text);
}
a {
    text-decoration: none;
}
.container {
    width: min(100% - 1em, 1300px);
    margin-inline: auto;
}

/********************Xеадер************************/
header.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
}
.header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-contacts-items {
    margin-right: 29px;
}
.header-contacts__phone {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    color: var(--main-colors-dark);
}
.header-contacts__work-time {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--main-colors-light-text);
    text-align: right;
}
.btn-phone {
    background-color: var(--main-colors-accent);
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 250px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    height: 60px;
    text-decoration: none;
}
.logo p {
    color: var(--main-colors-accent);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
}
/* .menu-toggle span:first-child {
    font-size: 17px;
    line-height: 140.6%;
    letter-spacing: 0.31em;
    transform: rotate(-0.19deg);
}

.menu-toggle span:last-child {
    font-weight: 400;
    font-size: 42px;
    line-height: 61.6%;
    letter-spacing: -0.115em;
    color: var(--main-colors-white);
    transform: rotate(-0.19deg);
} */
.logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: auto;
}
.menu-items li {
    margin: 0 1rem;
    display: block;
}
.menu-items li a {
    color: var(--main-colors-dark);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    cursor: pointer;
}
.menu-items li a:hover {
    width: 100%;
    color: var(--primary);
}
.menu-toggle {
    display: none;
}
.menu-toggle label{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    width:50px;
    cursor:pointer;
}

.menu-toggle label span{
    background: #fff;
    border-radius:10px;
    height:5px;
    margin: 5px 0;
    -webkit-transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -o-transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    background-color: var(--black);
}
.menu-toggle span:nth-of-type(1){
    width:50%;
}
.menu-toggle span:nth-of-type(2){
    width:100%;
    z-index: 1;
}
.menu-toggle span:nth-of-type(3){
    width:75%;
}
.menu-toggle input[type="checkbox"]{
    display:none;
}
.menu-toggle input[type="checkbox"]:checked ~ span:nth-of-type(1){
    -webkit-transform-origin:bottom;
        -ms-transform-origin:bottom;
            transform-origin:bottom;
    -webkit-transform:rotatez(45deg) translate(8px,0px);
        -ms-transform:rotate(45deg) translate(8px,0px);
            transform:rotatez(45deg) translate(8px,0px)
}
.menu-toggle  input[type="checkbox"]:checked ~ span:nth-of-type(2){
    -webkit-transform-origin:top;
        -ms-transform-origin:top;
            transform-origin:top;
    -webkit-transform:rotatez(-45deg);
        -ms-transform:rotate(-45deg);
            transform:rotatez(-45deg)
}
.menu-toggle input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    width: 50%;
    -webkit-transform: translate(22px,-8px) rotatez(45deg);
        -ms-transform: translate(22px,-8px) rotate(45deg);
            transform: translate(22px,-8px) rotatez(45deg);
}

/********************Сабхеадер************************/

.header-sub  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 65px;
}
.big-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 25px;
}
.title {
    color: var(--main-colors-dark);
    font-size: 40px;
    font-weight: 600;
}
.header-sub__description {
    max-width: 640px;
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
}
/*****************************************/

.large-banner {
    margin-top: 65px;
    display: block;
    
}

.large-banner img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

/*********История***************/
.history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 60px;
    margin: 40px 0 120px 0;
}
h4  {
    color: var(--main-colors-accent, #136E88);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
}
.text {
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%
}
.bold-text {
    color: #264156;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%
}
.history-block__right {
    max-width: 603px;
}

/***************************/
.title-big {
    color: var(--main-colors-dark, #264156);
    text-align: right;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 580px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.title-wrapper .title {
    text-align: right;
}

.title-small {
    color: var(--main-colors-accent);
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}
/****************Карточки с уловом*****************/
.fish-cards-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(1304px / 7);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#container-chart {
    position: absolute;
    top: 75px;
    left: -40px;
}
.fish-cards-item:nth-of-type(odd) {
    background: var(--sub-colors-table-background, #F3F7F9);
}
.fish-cards-chart {
    padding: 80px 40px 50px 40px;
    position: relative;
}
.fish-cards-chart svg {
    position: absolute;
    top: 100px;
    left: 50px;
}
.fish-cards-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
}
.fish-cards-data__week{
    color: var(--main-colors-light-text, #687A89);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.fish-cards-data__day{
    color: var(--main-colors-dark);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.fish-cards-weight {
    color: var(--main-colors-dark);
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
}
.fish-cards-tex {
    color: var(--main-colors-light-text);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}
.fish-cards-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1px;
    position: relative;
    margin: 40px 0 120px 0;
    overflow-x: auto;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
}
.fish-cards-img-weight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
}
.fish-cards-chart__tag {
    position: absolute;
    top: 100px;
    left: 10px;
    color:  #136E88;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}
span.weight-num {
    color: var(--main-colors-dark);
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
}
span.weight-str  {
    color: var(--main-colors-light-text);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}
.fish-cards-stocked {
    margin: 40px 0 40px 0;
}

/**************Галерея**************/
.gallery-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px 0 120px 0;
    gap: 40px;
}
.gallery-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
}
.gallery-item img {
    width: 100%;   
}
.gallery-item-link {
    position: relative;
}
.gallery-item-link figcaption img {
    width: 42px;
    height: 42px;
}
.gallery-item-link figcaption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: #136f8890;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.gallery-item-link figcaption p {
    color: var(--main-colors-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%
}
.gallery-item-link:hover figcaption{
    opacity: 1;
}

.primary-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    padding: 15px 40px;
    background-color: var(--main-colors-dark);
    border: none;
    color: var(--main-colors-white);
    cursor: pointer;
}

/********************************/

.rules-items {
    margin: 40px 0 120px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 59px;
}
.rules-item {
    width: 50%;
}
.rules-item img {
    width: 100%;
    height: 843px;
    -o-object-fit: cover;
       object-fit: cover;
}
.rules-item h3 {
    color: var(--main-colors-dark);
    font-size: 24px;
    font-weight: 600;
    line-height: 130%
}

.rules-list__item::marker {
    content: url('./../img/marker-li.png');
}
ul.rules-list-items {
    padding: 0;
    margin: 0;
}
.rules-list__item {
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    padding-left: 20px;
    margin-bottom: 20px;
}
/********************************/

/***************Продажт****************/
.sales-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 0 120px 0;
}

.sales-item {
    width: 408px;
}
.sales-title {
    color: var(--main-colors-dark);
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
}

.sales-text {
    color: var(--main-colors-light-text);
    font-size: 18px;
    line-height: 180%
}
.sales-price {
    color: var(--main-colors-accent, #136E88);
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
}

.sales-price span {
    font-size: 24px;
    margin: 0 5px;
}
.sales-tag {
    color: var(--sub-colors-weather, #72A8B8);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 10px;
    display: block;
}

/*******************************/

.prices-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px 0 120px 0;
}

.prices-item:nth-child(2)  .prices-item-title{
    text-transform: none;
}
.prices-item-title {
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0;
}

.prices-item-title:nth-child(3) {
    color: var(--main-colors-dark);
}

.prices-item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
}
.prices-item-smalltext {
    color: var(--main-colors-light-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    
}
.prices-item-wrap .title span {
    color: var(--main-colors-dark);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}
.prices-item-text {
    max-width: 742px;
    color: var(--main-colors-light-text, #687A89);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
}

.prices-item-text__warn-text p{
    color: #F15050;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.prices-item-text__warn img {
    margin-top: 10px;
}
.prices-item:last-child {
    max-width: 42%;
}
.prices-item-text__warn-text span{
    color: #F15050;
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
}
.prices-item-text__warn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
}
.fish-cost-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 260px 0px 180px 0px 102px;
    grid-template-columns: 260px 180px 102px;
    -ms-grid-rows: 98px;
    grid-template-rows: 98px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.fish-cost-item > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.fish-cost-item > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.fish-cost-item > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.fish-cost-item:nth-child(even) {
    background-color: var(--sub-colors-table-background, #F3F7F9)
}
.fish-cost-item__name {
    color: var(--main-colors-dark);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    max-width: 100px;
}
.fish-cost-item__price {
    color: var(--main-colors-accent);
    font-size: 24px;
    font-weight: 600;
    line-height: 130%
}
.fish-cost-item__price span {
    font-size: 14px;
    font-weight: 600;
    line-height: 130%; 
}

/*******************************/

/*************Новости***************/
.news-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 0 40px 0;
}
.news-data {
    display: block;
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    margin: 25px 0 0px 0;
}
.news-item {
    width: 408px;
}
.news-title {
    color: var(--main-colors-dark);
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
.news-text.open {
    display: block;
}
.news-text {
    color: var(--main-colors-light-text);
    font-size: 18px;
    line-height: 180%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-clamp: 6;
    box-orient: vertical;
}
.news-readmore {
    color: var(--main-colors-accent);
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    cursor: pointer;
}

.news-readmore::after {
    content: '';
    display: block;
    height: 3px;
    width: 160px;
    background-color: var(--main-colors-light-text);
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.news-readmore:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}

/**********Календарь рыбака*****************/
.calendar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (180px)[6];
    grid-template-columns: repeat(6, 180px);
}
/* .calendar {
    display: grid;
    grid-template-columns: repeat(5, 225px);
} */
.calendary-fish-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 224px 1fr;
    grid-template-columns: 224px 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    margin: 40px 0 120px 0;
}
.calendary-fish-items > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.calendary-fish-items > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.calendary-fish-item__img {
    width: 81px;
    height: 81px;
    margin-top: 70px;
}
.calendary-fish-item__img img {
    width: 100%;
}
.calendary-fish-item__title {
    color: var(--main-colors-dark);
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    margin: 25px 0 10px 0;
}
.calendary-fish-item__text {
    color: var(--main-colors-light-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.calendar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.calendar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 40px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.calendar-day, .weather-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
    height: 90px;
}
.week-day { 
    color: var(--main-colors-dark);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.data-short {
    color: var(--main-colors-dark);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.weather-description {
    color: var(--main-colors-light-text);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 0;
    margin: 0;
}
.weather-deg {
    color: var(--main-colors-dark);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}
.weather-wind_speed {
    color: var(--main-colors-dark);
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}
.weather-pressure, .weather-wind {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
}
.weather-pressure_num{
    color: var(--main-colors-dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
}
.weather-pressure_text{
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
}
.percent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin-top: 65px;
}
.percent-num {
    position: absolute;
    color: var(--main-colors-dark);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.percent-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.percent svg {
    position: relative;
    width: 70px;
    height: 70px;
    -webkit-transform: rotate(270deg) scale(1.5);
        -ms-transform: rotate(270deg) scale(1.5);
            transform: rotate(270deg) scale(1.5);
}
svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgb(241 234 234);
    stroke-width: 6;
    -webkit-transform: translate(5px, 5px);
    -ms-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
    /* stroke-linecap: round; */
}
svg circle:nth-child(2) {
    stroke-dasharray: 188.49px;
    stroke-dashoffset: 188.49px;
}

.fish-nibble-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.fish-nibble-item p {
    color: var(--main-colors-dark, #264156);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; 
    text-transform: uppercase;
}
/***********События******************/
.events-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 120px;
}
.events-item {
    background: var(--sub-colors-table-background);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
        cursor: pointer;
}
.events-item-data {
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%
}
.events-item-text {
    color: var(--main-colors-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    padding: 0;
    margin: 0;
}
.events-item-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}

.events-item-btns button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 51px;
    height: 51px;
    padding: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: var(--sub-colors-weather, #72A8B8);
    border: none;
    outline: none;
    cursor: pointer;
}
.events-item-btns button:hover {
    background: var(--main-colors-accent, #136E88);
}
.events-btn_prev img {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}


/********************Футер**************************/
.footer {
    background: var(--main-colors-dark);
}
.footer-items {
    padding: 80px 0 60px 0;
}
.footer-item__feedback-title,
.footer-item__contacts-title {
    color: var(--main-colors-white);
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}
.footer-item__feedback-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    padding-top: 40px;
}
.footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 112px;
}
.footer-item__feedback-form form input:is([type=text],[type=phone]) {
    background: transparent;
    outline: 0;
    outline-offset: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--main-colors-light-text);
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    background-clip: padding-box;
}
.footer-item__feedback-form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    gap: 10px;
    background: var(--main-colors-white);
}
.footer-item__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-item__contacts-adress {
    color: var(--main-colors-white);
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}
.footer-item__contacts-text {
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
}
.footer-item__contact-phone {
    color: var(--main-colors-white);
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    text-decoration: none;
    margin-right: 20px;
}
.footer-item__contact-messanger {
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    color: var(--main-colors-white);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    text-decoration: none;
}
.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid var(--main-colors-light-text);
}
.footer-item-privacy {
    color: var(--main-colors-white);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
}
.footer-item-copyright {
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%
}
.footer-item-webdev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
}
.footer-item-webdev p {
    color: var(--main-colors-light-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%
}

.footer-item__contacts img {
    max-width: 100%;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.swiper {
    width: 100% ;
    height: 200px;

}
::-webkit-scrollbar {
    width: 18px; /* ширина для вертикального скролла */
    height: 6px; /* высота для горизонтального скролла */
    background-color: var(--sub-colors-table-background, #F3F7F9);
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    margin-top: 20px;
    background-color: var(--main-colors-accent);
    border-radius: 9em;
    -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
            box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}
.form-control {
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5em;
    color: var(--main-colors-light-text);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form-control span {
    color: var(--main-colors-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type=checkbox] {
  -webkit-appearance: none;

  -moz-appearance: none;
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-colors-light-text);
    display: -ms-grid;
    display: grid;
    place-content: center;
}

input[type=checkbox]::before {
    content: "";
    width: 20px;
    height: 1em;
    color: #18a837;

        -webkit-clip-path: polygon(0 27%, 0 27%, 46% 100%, 100% 0, 100% 0, 46% 68%);

                clip-path: polygon(0 27%, 0 27%, 46% 100%, 100% 0, 100% 0, 46% 68%);
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transition: 120ms -webkit-transform ease-in-out;
    transition: 120ms -webkit-transform ease-in-out;
    -o-transition: 120ms transform ease-in-out;
    transition: 120ms transform ease-in-out;
    transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
    background-color: var(--main-colors-light-text);
}

input[type=checkbox]:checked::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}


/*************Модальное окно*********************/
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal.open{
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff; 
    background-image: url('/img/Formbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* -webkit-background-clip: padding-box; */
    /* background-clip: padding-box; */
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.modal-title {
    color: var(--main-colors-dark);
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    max-width: 350px;
    padding: 0;
    margin: 0;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px 40px 40px;
    gap: 40px;
}
.modal-body input:is([type=text],[type=phone]) {
    background: transparent;
    width: 100%;
    outline: 0;
    outline-offset: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--main-colors-light-text);
    color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    background-clip: padding-box;
}
.modal-body  span {
    color: var(--main-colors-dark);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.modal-body .primary-btn {
    margin-top: 10px;
    width: 100%;
}
.modal-body .primary-btn:disabled {
    background-color: #687A89;
    cursor: no-drop;
}
.modal-body .form-control {
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5em;
    font-size: 14px;
    color: var(--main-colors-light-text);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-body .logo-items img {
    width: 44px;
    height: 44px;
}
.modal-body .logo-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
}
.modal-body .logo-items span{
    color: var(--main-colors-accent);
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    max-width: 55px;
}
.modal-body {
    padding-bottom: 40px;
}

/*********popup****************/

.popup {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
.popup.open{
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* при отображении модального окно */
.popup.open{
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.popup-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .popup-dialog {
        max-width: 600px;
        margin: 30px auto;
    }
}
/* свойства для блока, содержащего контент модального окна */ 
.popup-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff; 
    background-image: url('/img/thanksbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* -webkit-background-clip: padding-box; */
    /* background-clip: padding-box; */
    outline: 0;
}
@media (min-width: 768px) {
  .popup-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.popup-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}
.popup-title {
    color: var(--main-colors-dark);
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    max-width: 350px;
    padding: 0;
    margin: 0;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
.popup-text {
    color: var(--main-colors-light-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}
.popup-body .logo-items img {
    width: 44px;
    height: 44px;
}
.popup-body .logo-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
}
.popup-body .logo-items span{
    color: var(--main-colors-accent);
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    max-width: 55px;
}
.popup-body {
    padding: 40px 0 40px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
}

/*************Модальное окно События*********************/
.event-modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.event-modal.open{
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.event-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .event-modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.event-modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff; 
    /* -webkit-background-clip: padding-box; */
    /* background-clip: padding-box; */
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .event-modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.event-modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.event-modal-title {
    color: var(--main-colors-dark);
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
.event-modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    padding: 40px 40px 10px 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.event-modal-body {
    padding: 10px 40px 40px 40px;
    display: flex;
    gap: 40px;
    
}
.event-modal-dialog {
    max-width: 1080px;
}
.event-modal-body__text {
   color: var(--main-colors-light-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;     
}
